h1 {
  text-align: center;
  font-size: 100px;
  font-weight: 80;
  color: skyblue;
}
body {
  background-color: rgb(240, 240, 240);
}
button {
  background-color: white;
  border: none;
}
.check:checked + label {
  text-decoration: line-through;
}
.container {
  position: relative;
  display: block;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
}
.chevron-container {
  display: flex;
  flex-direction: row;
  border-style: inset;
}
.bottom-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-style: inset;
  align-items: center;
  padding: 12px 12px 12px;
}
.button-chevron {
  background: white;
  border: none;
}
.button-chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}
.button-chevron:before {
  top: 0;
  transform: rotate(135deg);
}
.input-add {
  position: relative;
  padding: 16px 16px 16px 60px;
  border: none;
  margin: 0;
  width: 100%;
  font-size: 24px;
  box-sizing: border-box;
}
.todo-errand {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: white;
  border-style: inset;
  align-items: center;
}
.button-delete {
  opacity: 0;
}
.button-delete:hover {
  color: red;
  opacity: 1;
}
.button-toggle:hover {
  background-color: grey;
}
.button-toggle:focus {
  background-color: red;
}

.button-invisible {
  width: 112px;
}

@media only screen and (max-width: 400px) {
  .bottom-container {
    font-size: smaller;
  }
}

@media only screen and (max-width: 800px) {
  .button-delete:hover {
    background-color: red;
  }
}
